#main-container {
    margin-top: 2em;
}
legend{
    font-size: 2rem;
    color: #880e4f;
}
fieldset{
    border: 5px solid #880e4f;
    border-radius : 10px;
}
input {
    color: #880e4f;
    font-weight: bold;
}
h1{
    font-size: 2em;
    padding: 7px;
} 

button{
    width: 100% !important;
}

.hidden{
    display: none;
}